{% load i18n %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />

    <title>{% block title %}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    <div id="container">
        <div id="content">
            {% block content%}
            {% endblock %}
        </div>
    </div>

	{% block extra_body %}{% endblock %}
</body>

</html>
