/* `css reset - http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101
----------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* `Pickleback
----------------------------------------------------------------------------------------------------*/

html {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
 	font: 14px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    /* background: #ebebeb url(/media/img/bg.png) repeat; */
    background: #ebebeb url(/static/img/bg.png) repeat;
    color: #333;
	height: 100%;
background:#eeeeee;
}

/* `elements
----------------------------------------------------------------------------------------------------*/

a { color: #000; text-decoration: none; outline: none; }

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

img { border: none; }

.last { margin-right: 0 !important; }

.link { color: #1fa0c5; text-decoration: none; outline: none; }
.link:hover { color: #1fa0c5; text-decoration: underline; outline: none; }
.link:hover { color: #8baacb; text-decoration: underline; outline: none; }

::-moz-selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}

/* `layout
----------------------------------------------------------------------------------------------------*/

#container {
    height: auto !important;
    margin: 0 auto -155px;
    margin: 0 auto -85px;
    min-height: 100%;
}

#header {
    background-color: #abceee;
    background-image: -o-linear-gradient(top, #abceee, #8aa8ca);
    background-image: -ms-linear-gradient(top, #abceee, #8aa8ca);
    background-image: -moz-linear-gradient(top, #abceee;, #8aa8ca);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#abceee), to(#8aa8ca));
    background-image: -webkit-linear-gradient(top, #abceee, #8aa8ca);
    background-image: linear-gradient(top, #abceee, #8aa8ca);
    margin: 0 0 50px 0;
}

#header-cont {
    position: relative;
    clear: both;
    overflow: hidden;
    width: 900px;
    height: 40px;
    margin: 0 auto 0 auto;
    padding: 3px 0;
}

#logo_link {
    position: relative;
    font-size: 22px;
    text-shadow: 0 1px 1px white;
}

#content {
    width: 900px;
    margin: 0 auto 0 auto;
    padding-bottom: 155px;
    padding-bottom: 125px;
}

#footer {
    position: relative;
    /* background: #83aed1 url(/media/img/ft.png) repeat-x; */
    /* background-color: #83aed1; */
    color: #fff;
    height: 125px;
    text-align: center;
    clear: both;
    height: 55px;
    padding: 15px;
    background-color: #abceee;
    background-image: -o-linear-gradient(bottom, #abceee, #8aa8ca);
    background-image: -ms-linear-gradient(bottom, #abceee, #8aa8ca);
    background-image: -moz-linear-gradient(bottom, #abceee;, #8aa8ca);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#abceee), to(#8aa8ca));
    background-image: -webkit-linear-gradient(bottom, #abceee, #8aa8ca);
    background-image: linear-gradient(bottom, #abceee, #8aa8ca);
}

#footer a {
    color: #fff;
}

#footer-cont {
    position: relative;
    width: 900px;
    margin: 0 auto 0 auto;
 	font: 11px/1.5 'Lucida Grande', Helvetica, Arial, sans-serif;
    text-align: right;
}

/* `home
----------------------------------------------------------------------------------------------------*/

.float-cnt {
    position: relative;
    width: 100%;
    clear: both;
    overflow: hidden;
}

.flt-img {
    float: left;
    width: 250px;
    height: 310px;
    margin: 0 72px 0 0;
    text-align: center;
    font-weight: bold;
}

.flt-img img {
    margin: 0 0 10px 0;
    border: 1px solid #999;
}

button {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #ECECEC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ECECEC));
    background: -webkit-linear-gradient(top, white 0%, #ECECEC 100%);
    background: -o-linear-gradient(top, white 0%, #ECECEC 100%);
    background: -ms-linear-gradient(top, white 0%, #ECECEC 100%);
    background: linear-gradient(top, white 0%, #ECECEC 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 0px 0px #DADADA;
    -moz-box-shadow: 0px 1px 0px 0px #DADADA;
    -o-box-shadow: 0px 1px 0px 0px #DADADA;
    box-shadow: 0px 1px 0px 0px #DADADA;
    margin: 20px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-family: "Helvetica Neue";
    text-shadow: 0 1px 0 white;
    border: 1px solid #C2C2C2;
    font-weight: bold;
    color: #1fa0c5;
    cursor: pointer;
}

.btn-cnt {
    width: 100%;
    text-align: center;
}

/* `build
----------------------------------------------------------------------------------------------------*/

.build-cnt input[type="submit"] {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #ECECEC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ECECEC));
    background: -webkit-linear-gradient(top, white 0%, #ECECEC 100%);
    background: -o-linear-gradient(top, white 0%, #ECECEC 100%);
    background: -ms-linear-gradient(top, white 0%, #ECECEC 100%);
    background: linear-gradient(top, white 0%, #ECECEC 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 0px 0px #DADADA;
    -moz-box-shadow: 0px 1px 0px 0px #DADADA;
    -o-box-shadow: 0px 1px 0px 0px #DADADA;
    box-shadow: 0px 1px 0px 0px #DADADA;
    margin: 20px 0;
    padding: 8px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-family: "Helvetica Neue";
    text-shadow: 0 1px 0 white;
    border: 1px solid #C2C2C2;
    font-weight: bold;
    color: #1fa0c5;
    cursor: pointer;
}

button:hover,
.build-cnt input[type="submit"]:hover {
    background: #ECECEC;
    background: -moz-linear-gradient(top, #ECECEC 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ECECEC), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #ECECEC 0%, white 100%);
    background: -o-linear-gradient(top, #ECECEC 0%, white 100%);
    background: -ms-linear-gradient(top, #ECECEC 0%, white 100%);
    background: linear-gradient(top, #ECECEC 0%, white 100%);
    opacity: 1;
}

.project-name input {
    padding: 3px 4px;
    font-size: 13px;
    margin: 5px 0 20px 0;
}

/* `table
----------------------------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Ovo);


table {
-webkit-box-shadow: 3px 5px 10px #c2c2c2;
-webkit-border-bottom-right-radius: 15px;
border-collapse: separate;
border: 1px solid #cdd1d4;
font-size: 12px;
color: #2e3337;
width:900px;
}

th#col-name {
    color:#c8e2ee;
    width: 200px;
    background: url(../images/table-bg2.png) repeat-x;
}

th#col-desc {
    background: url(../images/table-bg1.png) repeat-x 50% 50%;
}

thead tr {
color: #eeeef0;
height: 30px;
border-bottom: 1px solid #3c3d3f;
margin-top: 10px;
padding: 6px 10px;
}
thead th {
font-family: ‘Metrophobic’, Arial, serif;
font-weight: 400;
font-size: 15px;
text-transform: uppercase;
vertical-align: middle;
}

tbody tr {
height: 38px;
background-image: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(#e8e8e8),
    color-stop(0.3, #f1f1f1),
    to(#f1f1f1));
}

tbody tr.row1 {
border-top: 1px solid #C3BEB7;
}

tbody tr.row2 {
border-bottom: 1px solid #C3BEB7;
}
tbody td {
border-bottom: 1px solid #C3BEB7;
border-left: 1px solid #F7F9F8;
padding: 7px;
}

tbody td.desc-data {
font-size: 12px;
font-family: 'Metrophobic', Arial, serif;
}


tbody td.name-data {
background: url(../images/cell-bg.png) repeat-x;
border-right: 1px inset #C3BEB7;
font-weight: bold;
color: #5D5954;
font-family: ‘Metrophobic’, Arial, serif;
font-size: 14px;
vertical-align: middle;
}
