{% extends "base.html" %}

{% load i18n %}

{% block title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
    Inspired by projects like [Pinax](http://pinaxproject.com/) and, more recently, [Django Canvas](http://www.djangocanvas.com/), Pickleback.me is a tool to help create and bootstrap a fully working and barebones Django project with all third party packages already integrated in your environment.
    <br><br>
    <a class="link" href="{% url build %}">Start here</a>

{% endblock %}

